@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color: #b6bcc8;
  --brand: #cd98c2;
  --sub-clr: #4b4b59;
  --bg: #25252f;
  --err: #f14c4c;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Source Code Pro", monospace;
  background: var(--bg);
  color: var(--sub-clr);
}
.wrapper {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}
.input {
  font-size: 1em;
  width: 100%;
  margin-top: 1rem;
  font-family: inherit;
  max-width: 300px;
  color: transparent;
  background: transparent;
  border: 0;
  outline: none;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quotewrapper {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
}
.paragraph {
  max-width: max-content;
  line-height: 35px;
  font-size: 24px;
}
.caret-container {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  /* background: orange; */
}
.caret {
  transition: all 0.1s ease 0.01s;
  position: relative;
  background: var(--brand);
  border-radius: 6px;
  z-index: 1000000;
  height: 3px;
  width: 15px;
}
.letter {
  transition: color 0.1s ease;
}
.correct {
  color: var(--color);
}
.set {
  color: var(--brand);
}
.incorrect {
  color: var(--err);
}
.footer {
  position: fixed;
  bottom: 0;
  padding: 2rem;
  font-size: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.footer__commands {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.footer__commands--item {
  display: flex;
  align-items: center;
}
.footer__commands--item > span {
  border-radius: 2px;
  background: var(--sub-clr);
  color: var(--bg);
  padding: 0 0.3rem 0.1rem 0.3rem;
  margin: 0 0.5rem;
}

.settings {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  /* background: orange; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.settings__inner {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  background: var(--bg);
  padding: 2rem 0rem;
  border-radius: 12px;
  max-width: 660px;
  min-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
}
.settings__inner > ul {
  width: 100%;
}
.settings__inner > ul > li {
  transition: all 0.08s ease;
  /* padding: 0.33rem 1rem; */
  display: flex;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  font-size: 12px;
  flex-direction: column;
}
.settings__inner > ul > li > span {
  /* background: rgba(0, 0, 0, 0.15); */
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
.settings__inner > ul > li > span > svg {
  list-style: none;
  margin-right: 0.5rem;
  font-size: 14px;
}
.settings__inner > ul > li > div {
  margin: 0.5rem 0;
  width: 100%;
}
.settings__inner > ul > li > div > p {
  /* padding: 0.3rem 0.5rem; */
  padding: 0.33rem 3rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.settings__inner > ul > li > div > p > svg {
  margin-right: 0.25rem;
}
.settings__inner > ul > li > div > p:hover {
  background: var(--color);
  cursor: pointer;
  color: var(--sub-clr);
}
.statitstics {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.statitstics p {
  font-size: 15px;
  color: var(--brand);
}

.reset {
  margin-top: 3rem;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.reset__btn {
  font-size: 1.35em;
  outline: 0;
  border: 0;
  background: transparent;
  color: var(--sub-clr);
  transition: color 0.3s ease;
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset__btn:hover {
  cursor: pointer;
  color: var(--color);
  /* background: RGB(0, 0, 0, 0.6); */
}
.reset__btn:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
.reset__btn:hover:before {
  opacity: 1;
  transform: translateY(0px) rotate(180deg);
}
.reset__btn:after {
  /* opacity: 0; */
  color: white !important;
  background: RGB(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 12px;
  width: fit-content;
  padding: 0rem 0.7rem 0.12rem 0.7rem;
  max-width: fit-content;
  position: absolute;
  white-space: nowrap;
  font-family: "Source Code Pro", monospace;
  top: 4rem;
  content: "Restart";
  transform: translateY(-8px);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: -17px;
}
.reset__btn:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid RGB(0, 0, 0, 0.6);
  /* transform: rotate(180deg); */
  transform: translateY(-8px) rotate(180deg);
}
.reset__btn:before,
.reset__btn:after {
  opacity: 0;
  transition: all 0.3s ease;
}
