:root {
  --color: #b6bcc8;
  --brand: #cd98c2;
  --sub-clr: #4b4b59;
  --bg: #25252f;
  --err: #f14c4c;
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-weight: 400;
  position: relative;
  font-family: "Fira Code", monospace;
  background: var(--bg);
  color: var(--sub-clr);
}
.wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.focus.active {
  opacity: 1;
  transition: opacity 1s ease 1.2s;
}
.focus {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  z-index: 100;
  position: absolute;
  font-family: inherit;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 2px;
  color: var(--color) !important;
  font-family: "Fira Code", monospace;
  /* background: RGB(0, 0, 0, 0.6); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: fit-content;
  font-size: 14px;
  max-width: fit-content;
  white-space: nowrap;
}
.focus:hover {
  cursor: pointer;
}
.input {
  transition: backdrop-filter 0.5s;
  border-radius: 8px;
  position: absolute;
  font-size: 1em;
  height: 100%;
  font-family: inherit;
  color: transparent;
  background: transparent;
  outline: none;
  border: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.input::selection {
  background: transparent;
}
.input::-moz-selection {
  background: transparent;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.opac {
  transition: opacity 0.15s ease;
}
.quotewrapper {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  padding: 0.3rem;
}
.paragraph {
  max-width: max-content;
  line-height: 33px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: -1;
}
.paragraph > span {
  transition: filter 0.125s ease;
}
.paragraph.inactive {
  transition: filter 0.35s ease-in-out 1s;
}
.paragraph.inactive > span {
  transition: inherit;
  filter: blur(3px);
}
.caret-container {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.caret {
  transition: all 0.08s ease;
  position: relative;
  background: var(--brand);
  border-radius: 6px;
  z-index: 500;
  height: 3px;
  width: 12px;
}
@keyframes Blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blink {
  animation: Blink 1s linear infinite;
}
.caret.stroke {
  transition: all 0.1s ease 0.01s;
  position: relative;
  background: var(--brand);
  border-radius: 2px;
  z-index: 501;
  height: 22px;
  width: 3px;
  margin-top: 2px;
}
.letter {
  transition: color 0.1s ease;
}
.correct {
  color: var(--color);
}
.set {
  color: var(--color);
  text-decoration: underline;
}
.incorrect {
  color: var(--err);
}
.footer {
  position: fixed;
  bottom: 0;
  padding: 2rem 0;
  font-size: 11px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 0.4s ease, opacity 0.15s linear;
}
.footer.close {
  transform: translate(-50%, 15px);
  opacity: 0;
}
.footer__commands {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.footer__commands--item {
  display: flex;
  align-items: center;
}
.footer__commands--item > span {
  border-radius: 2px;
  background: var(--sub-clr);
  color: var(--bg);
  padding: 0 0.3rem 0.1rem 0.3rem;
  margin: 0 0.5rem;
}
@keyframes move {
  0% {
    transform: translateY(-35px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.settings {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  position: fixed;
  max-width: 100vw;
  max-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.15s ease;
  /* opacity: 0; */
}
.settings__inner {
  animation: move 300ms ease;
  transition: all 300ms ease !important;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  background: var(--bg);
  padding: 1.5rem 0rem;
  border-radius: 12px;
  max-width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.settings__inner > ul {
  width: 100%;
}
.settings__inner > ul > li {
  transition: all 0.08s ease;
  padding: 0.4rem 0;
  width: 100%;
  list-style: none;
  align-items: flex-end;
  font-size: 11px;
  display: flex;
}
.settings__inner > ul > li > span {
  max-width: fit-content;
  width: 100%;
  font-weight: 600;
  padding: 0 0 0 1.5rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.settings__inner > ul > li > span > svg {
  list-style: none;
  margin-right: 0.5rem;
  font-size: 14px;
}
.settings__inner > ul > li > div {
  justify-self: end;
  align-self: flex-end;
  width: 100%;
  margin-left: 0.5rem;
  display: flex;
  width: 100%;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 0.5rem;
  margin-right: 1.5rem;
}
.settings__inner > ul > li > div > p {
  font-weight: 500;
}
.settings__inner > ul > li > div > p > svg {
  margin-right: 0.25rem;
}
.settings__inner > ul > li > div > p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.statitstics {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.statitstics p {
  font-size: 15px;
  color: var(--brand);
}

.reset {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.reset__btn {
  font-size: 1.35em;
  outline: 0;
  border: 0;
  background: transparent;
  color: var(--sub-clr);
  transition: color 0.3s ease;
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset__btn:hover,
.reset__btn:focus {
  cursor: pointer;
  color: var(--color);
}
.reset__btn:hover:after,
.reset__btn:focus:after {
  opacity: 1;
  transform: translateY(0px);
}
.reset__btn:hover:before,
.reset__btn:focus:before {
  opacity: 1;
  transform: translateY(0px) rotate(180deg);
}
.reset__btn:after {
  color: var(--color) !important;
  font-family: "Fira Code", monospace;
  background: RGB(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: fit-content;
  font-size: 11px;
  padding: 0.12rem 0.7rem 0.12rem 0.7rem;
  max-width: fit-content;
  white-space: nowrap;
  position: absolute;
  top: 4rem;
  content: "Restart";
  transform: translateY(-8px);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: -17px;
}
.reset__btn:before {
  width: 0;
  right: 0;
  left: 4px;
  height: 0;
  content: "";
  bottom: -24px;
  margin-left: auto;
  position: absolute;
  margin-right: auto;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid RGB(0, 0, 0, 0.6);
  transform: translateY(-5px) rotate(180deg);
}
.reset__btn:before,
.reset__btn:after {
  opacity: 0;
  transition: all 0.125s ease;
}

.checkboxcontainer {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}
.checkboxcontainer .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  border-radius: 34px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sub-clr);
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  background-color: var(--color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.checkbox:checked + .slider {
  background-color: var(--color);
}
.checkbox:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background: var(--sub-clr);
}

.header {
  position: fixed;
  top: 0;
  padding: 2rem 0;
  font-size: 13px;
  width: 100%;
  max-width: 940px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 0.4s ease, opacity 0.15s linear;
}
.header__item {
  display: flex;
  flex: 1;
}
.header__item--left {
  align-items: center;
  justify-content: center;
}
.header__item--left > img {
  height: 45px;
  width: 45px;
}
.header__logo {
  position: relative;
}
@keyframes colorChange {
  0% {
    color: var(--brand);
  }
  50% {
    color: var(--color);
  }
  100% {
    color: var(--brand);
  }
}
.header__logo > h1 {
  /* animation: colorChange 2s linear infinite; */
  font-size: 1.7em;
  letter-spacing: 0px;
  color: var(--color);
  text-transform: lowercase;
  font-family: "Days One", sans-serif;
}
.header__logo:hover {
  cursor: pointer;
}
.header__item--right {
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  transition: transform 0.4s ease, opacity 0.15s linear;
}
.header__item--right.close {
  transform: translate(0, -15px);
  opacity: 0;
}
.donate > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.donate__ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  gap: 0.5rem;
}
.donate__ul li {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 11px;
  line-height: 12px;
  background: var(--sub-clr);
  color: var(--color);
}
.donate__ul li:hover > a {
  color: var(--color);
  cursor: pointer;
}
.donate__ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}
.donate__ul li a svg {
  vertical-align: middle;
  font-size: 13px;
  margin-left: 0.3rem;
  line-height: 13px;
}
.donate {
  z-index: 11;
  top: 4.5rem;
  padding: 0.5rem;
  width: 100%;
  position: absolute;
  animation: move 300ms ease;
  transition: all 300ms ease !important;
  display: flex;
  background: var(--sub-clr);
  border-radius: 12px;
  max-width: 370px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dcontainer {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  width: 100%;
}
.dcontainer:after {
  position: absolute;
  content: "";
  width: 0;
  top: 0;
  height: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--sub-clr);
  transform: translateY(-8px) rotate(180deg);
}
.dcontainer__item {
  border-radius: 12px;
  background: var(--bg);
  flex: 1;
  width: 100%;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color);
  transition: all 0.125s ease;
}
.dcontainer > a {
  flex: 1;
  text-decoration: none;
}
.dcontainer__item:hover {
  color: var(--bg);
  background: var(--color);
  cursor: pointer;
}
.dcontainer__item > p {
  font-size: 1.3em;
  padding: 0;
}
.dcontainer__item > h2 {
  font-size: 5em;
}
